# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.metals/
.bloop/

# OS metadata
.DS_Store
Thumbs.db

# Java/Maven
backend/target/
backend/.bloop/
backend/.metals/
backend/.settings/
backend/.project
backend/.classpath

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
